@charset "utf-8";

html{
	background-color: orange;
	text-align: center;
	  
	text-decoration: none;


}
body{
	padding:0%;
	
	margin-top:0%;
	display:block;
	min-height:700px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	
	background-color:hsl(39, 100%, 60%);
	
	
	
}
ul{
	clear: left;
	float: left;
	text-align:left;
	display:block;
	
}
ul.Left{
	clear: left;
	width:45%;
	float: left;
	
	display:block;
	text-align:left;
	list-style-type:none;
	
}

ul.Right{
	clear: right;
	width:45%;
	float: right;
	display:block;
	text-align:right;
	list-style-type:none;
	
}

img{
	float:left;
	
	display:block;
}
a{
	
	text-decoration: none;
	
	
}

body > footer{
	clear:both;
	
	
	position:absolute;
	bottom:-40px;
	min-height:40px;
	width:80%;
	background-color:hsl(39, 80%, 60%);
	text-align: center;
	background-clip:content-box;
	font: normal 0.7em/0.5em
		Quicksand, Verdana, Geneva, sans-serif;
	
	
}
footer::after{
	clear:both;
	content:"";
	display:table;
	
}