@charset "utf-8";

html{
	background-color: orange;
	text-align: center;  
	text-decoration: none;
	box-sizing: border-box;
	position: relative;
	


}


body{
	
	padding:0%;
	min-height: 90vh;
	margin-top:0%;	
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color:hsl(39, 100%, 60%);
	display: block;
	position: relative;
	
}
p{
	clear:both;
	
}
ul{
	clear: left;
	float: left;
	text-align:left;
	display:block;
	
     border:1px solid red;
	
}
ul.Left{
	clear: left;
	width:40%;
	float: left;
	
	display:block;
	text-align:left;
	list-style-type:none;
	
}

ul.Right{
	clear: right;
	width:40%;
	float: right;
	display:block;
	text-align:right;
	list-style-type:none;
	
}

img{
	float:left;
	
	display:block;
}
a{
	
	text-decoration: none;
	
	
}
footer{
	
	clear:both;
	position:absolute;
	text-bottom:-50px;
	min-height:4em;
	width:100%;
	background-color:hsl(39, 80%, 60%);
	text-align: center;
	background-clip:content-box;
	font: normal 0.7em/0.5em
		Quicksand, Verdana, Geneva, sans-serif;
	
	
	bottom:-4em;
	
}


